@page "/header/header-compact"
@inject IJSRuntime JS

<PageTitle>Header Compact</PageTitle> 
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-xl px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="file"></i></div>
                                            Compact Page Header
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <button class="btn btn-sm btn-light text-primary active me-2">Today</button>
                                        <button class="btn btn-sm btn-light text-primary me-2">Month</button>
                                        <button class="btn btn-sm btn-light text-primary">Year</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-xl px-4">
                        <div class="card">
                            <div class="card-header">Compact Page Header Example</div>
                            <div class="card-body">This compact page header example strips down the page header element to create a seamless, slim page header.</div>
                        </div>
                    </div>
@code {

}
