@layout NoAuthLayout
@page "/auth/auth-register-social"
@inject IJSRuntime JS

<PageTitle>Auth Register Social</PageTitle>
  
<div class="container-xl px-4">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <!-- Social registration form-->
                                <div class="card my-5">
                                    <div class="card-body p-5 text-center">
                                        <div class="h3 fw-light mb-3">Create an Account</div>
                                        <div class="small text-muted mb-2">Sign in using...</div>
                                        <!-- Social registration links-->
                                        <a class="btn btn-icon btn-facebook mx-1" href="#!"><i class="fab fa-facebook-f fa-fw fa-sm"></i></a>
                                        <a class="btn btn-icon btn-github mx-1" href="#!"><i class="fab fa-github fa-fw fa-sm"></i></a>
                                        <a class="btn btn-icon btn-google mx-1" href="#!"><i class="fab fa-google fa-fw fa-sm"></i></a>
                                        <a class="btn btn-icon btn-twitter mx-1" href="#!"><i class="fab fa-twitter fa-fw fa-sm text-white"></i></a>
                                    </div>
                                    <hr class="my-0" />
                                    <div class="card-body p-5">
                                        <div class="text-center small text-muted mb-4">...or enter your information below.</div>
                                        <!-- Login form-->
                                        <form>
                                            <!-- Form Row-->
                                            <div class="row gx-3">
                                                <div class="col-md-6">
                                                    <!-- Form Group (first name)-->
                                                    <div class="mb-3">
                                                        <label class="text-gray-600 small" for="firstNameExample">First name</label>
                                                        <input class="form-control form-control-solid" type="text" placeholder="" aria-label="First Name" aria-describedby="firstNameExample" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Form Group (last name)-->
                                                    <div class="mb-3">
                                                        <label class="text-gray-600 small" for="lastNameExample">Last name</label>
                                                        <input class="form-control form-control-solid" type="text" placeholder="" aria-label="Last Name" aria-describedby="lastNameExample" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Form Group (email address)-->
                                            <div class="mb-3">
                                                <label class="text-gray-600 small" for="emailExample">Email address</label>
                                                <input class="form-control form-control-solid" type="text" placeholder="" aria-label="Email Address" aria-describedby="emailExample" />
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3">
                                                <div class="col-md-6">
                                                    <!-- Form Group (choose password)-->
                                                    <div class="mb-3">
                                                        <label class="text-gray-600 small" for="passwordExample">Password</label>
                                                        <input class="form-control form-control-solid" type="password" placeholder="" aria-label="Password" aria-describedby="passwordExample" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Form Group (confirm password)-->
                                                    <div class="mb-3">
                                                        <label class="text-gray-600 small" for="confirmPasswordExample">Confirm Password</label>
                                                        <input class="form-control form-control-solid" type="password" placeholder="" aria-label="Confirm Password" aria-describedby="confirmPasswordExample" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Form Group (form submission)-->
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="form-check">
                                                    <input class="form-check-input" id="checkTerms" type="checkbox" value="" />
                                                    <label class="form-check-label" for="checkTerms">
                                                        I accept the
                                                        <a href="#!">terms &amp; conditions</a>
                                                        .
                                                    </label>
                                                </div>
                                                <a class="btn btn-primary" href="auth-login-social.html">Create Account</a>
                                            </div>
                                        </form>
                                    </div>
                                    <hr class="my-0" />
                                    <div class="card-body px-5 py-4">
                                        <div class="small text-center">
                                            Have an account?
                                            <a href="auth-login-social.html">Sign in!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
@code {

}
