@page "/navigation/layout-static"
@inject IJSRuntime JS

<PageTitle>Static Layout</PageTitle>  
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="layout"></i></div>
                                            Static Navigation
                                        </h1>
                                        <div class="page-header-subtitle">Use this blank page as a starting point for creating new pages inside your project!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-n10">
                        <div class="card mb-4">
                            <div class="card-header">Static Navigation Example</div>
                            <div class="card-body">
                                <p class="mb-0">
                                    This page is an example of using static navigation. By removing the
                                    <code>.nav-fixed</code>
                                    class from the
                                    <code>body</code>
                                    tag, the top navigation and side navigation will remain static in their positioning.
                                </p>
                            </div>
                        </div>
                        <div class="text-center text-muted font-italic small">
                            Scroll down to see example...
                            <div class="mt-2"><i class="far fa-arrow-alt-circle-down fa-3x text-gray-400"></i></div>
                        </div>
                        <div style="height: 100vh"></div>
                    </div>
@code {

}
